page-aceptado{

 .content .img-conten
   {
    margin-top: 30%;    
  }


  .img-conten{
    width: 60%;
    display: block;
    margin: 15px auto;
  }

  .content-text{
    position: absolute;
    top: 50%;
    font-size: 30px;
  }
}