<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1022589972564-krksrkidg37b56tl2gr0tjpo4dgbgabj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022589972564-krksrkidg37b56tl2gr0tjpo4dgbgabj</string>
	<key>API_KEY</key>
	<string>AIzaSyCX0XBzk9gEZv7wu9-Tf_6TghGoGc4XQOA</string>
	<key>GCM_SENDER_ID</key>
	<string>1022589972564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoak.tecnicoak</string>
	<key>PROJECT_ID</key>
	<string>todoakrefactor</string>
	<key>STORAGE_BUCKET</key>
	<string>todoakrefactor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022589972564:ios:48def4a7891c8b47</string>
	<key>DATABASE_URL</key>
	<string>https://todoakrefactor.firebaseio.com</string>
</dict>
</plist>