page-aplazado{
    
    
      .iconAccept{
        color: #52BE80;
        font-size: 35px;
      }

      .btn-ion{
        padding-left: 160px;
        margin-top: -33px;
        display: flex;
        justify-content: center;
        position: relative;
        top: -20px;
      }
}