page-result{


    

    signature-pad {
        canvas {
          border: dashed 2px #cccccc;
          }
      }

      .section-firma{
        width: 500px;
        margin-left: 25px;
      }

    
}