page-send{

    
    .section-price .price-total {
        padding: 20%;
    }

    .section-price .btn-actualizar{
        background: #F80
    }

    .section-price .price-total .input-text{
        border: 1px solid;
        margin: auto;
        position: inherit;
    }
    .section-price .price-total .label-total{
        margin-left: 55px;
    
    }

    .img{
        margin-top: 30%;
        margin-left: 10%;
    }

    

}